Imports and setup

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
task1_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
df = pd.Series(task1_dict)
print(df)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [4]:
task2_arr = [10, 20, 30, 40, 50]
df = pd.Series(task2_arr)
print(df)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
task3_series = pd.Series([100, 200, 'python', 300.12, 400])
df = task3_series
df[len(df) + 1] = 500
df[len(df) + 1] = 'php'
print(task3_series)

0       100
1       200
2    python
3    300.12
4       400
6       500
7       php
dtype: object

In [16]:

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
        }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, labels)

# 4.1
print("4.1")
print(df[['animal', 'age']])
print()

# 4.2
print("4.2")
print(df.iloc[[3,4,8]][['animal', 'age']])
print()

# 4.3
print("4.3")
print(df[df.visits > 3])
print()

# 4.4
print("4.4")
print(df[(df.animal == 'cat') & (df.age < 3)])
print()

# 4.5
print("4.5")
print(df[(df.age > 2) & (df.age <= 4)])
print()

# 4.6
print("4.6")
print(df.visits.sum())
print()

# 4.7
print('4.7')
df['k'] = [i for i in range(len(df))]
print(df)

del df['k']
print('====== Column Deleted ======')

print(df)

4.1
  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

4.2
  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

4.3
Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

4.4
  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

4.5
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

4.6
19

4.7
  animal  age  visits priority  k
a    cat  2.5       1      yes  0
b    cat  3.0       3      yes  1
c  snake  0.5       2       no  2
d    dog  NaN       3      yes  3
e    dog  5.0       2       no  4
f    cat  2.0       3       no  5
g  snake  4.5       1       no  6
h    cat  NaN       1      yes  7
i    dog  7.0       2       no  8
j    dog  3.0       1       no  9
====== Column Deleted ======
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no