Imports and setup

In [79]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [80]:
df = pd.read_csv('Data/adult.csv')

Task 1

In [81]:
display(df['sex'].value_counts())

sex
Male      21790
Female    10771
Name: count, dtype: int64

Task 2

In [82]:
print(df[df.sex == 'Female']['age'].mean())

36.85823043357163

Task 3

In [83]:
germany_percentage = (len(
    df[df['native-country'] == 'Germany']) / len(df['native-country'])) * 100
print('German people percentage: {0:.2f}%'.format(germany_percentage))

German people percentage: 0.42%

Task 4

In [84]:
highly_paid_people = df[df['salary'] == '>50K']
print('Average age: {0:.1f}'.format(highly_paid_people['age'].mean()))
print('Standard deviation: {0:.1f}'.format(
    highly_paid_people['age'].std()))

Average age: 44.2
Standard deviation: 10.5

Task 5

In [85]:
normal_paid_people = df[df['salary'] == '<=50K']
print('Average age: {0:.1f}'.format(normal_paid_people['age'].mean()))
print('Standard deviation: {0:.1f}'.format(
    normal_paid_people['age'].std()))

Average age: 36.8
Standard deviation: 14.0

Task 6

In [86]:
degrees = ['Prof-school', 'Doctorate', 'Bachelor',
           'Masters', 'Assoc-voc', 'Assoc-acdm']
educated_people = highly_paid_people[highly_paid_people['education'].isin(
    degrees)]

print('Highly paid people number: {}'.format(len(highly_paid_people)))
print('Educated highly paid people number: {}'.format(len(educated_people)))

Highly paid people number: 7841
Educated highly paid people number: 2314

Task 7

In [87]:
display(df.groupby(['race', 'sex']).describe(percentiles=[]))

print('Max age: {}'.format(
    max(df[(df['race'] == 'Amer-Indian-Eskimo') & (df['sex'] == 'Male')]['age'])))

                               age
                             count       mean        std   min   50%   max
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  36.0  80.0  \
                   Male      192.0  37.208333  12.049563  17.0  35.0  82.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  33.0  75.0
                   Male      693.0  39.073593  12.883944  18.0  37.0  90.0
Black              Female   1555.0  37.854019  12.637197  17.0  37.0  90.0
                   Male     1569.0  37.682600  12.882612  17.0  36.0  90.0
Other              Female    109.0  31.678899  11.631599  17.0  29.0  74.0
                   Male      162.0  34.654321  11.355531  17.0  32.0  77.0
White              Female   8642.0  36.811618  14.329093  17.0  35.0  90.0
                   Male    19174.0  39.652498  13.436029  17.0  38.0  90.0

                            fnlwgt
                             count           mean            std      min
race               sex
Amer-Indian-Eskimo Female    119.0  112950.731092   93207.974077  12285.0  \
                   Male      192.0  125715.364583   85063.251595  13769.0
Asian-Pac-Islander Female    346.0  147452.075145   76401.627757  19914.0
                   Male      693.0  166175.865801   88552.952600  14878.0
Black              Female   1555.0  212971.387781  109971.263983  19752.0
                   Male     1569.0  242920.644997  134145.970948  21856.0
Other              Female    109.0  172519.642202   77766.666801  24562.0
                   Male      162.0  213679.104938   92187.362738  25610.0
White              Female   8642.0  183549.966906  101710.294874  19395.0
                   Male    19174.0  188987.386148  103714.598850  18827.0

                           ... capital-loss                   hours-per-week
                           ...          std  min  50%     max          count
race               sex     ...
Amer-Indian-Eskimo Female  ...   157.763811  0.0  0.0  1721.0          119.0  \
                   Male    ...   286.562584  0.0  0.0  1980.0          192.0
Asian-Pac-Islander Female  ...   296.529225  0.0  0.0  2258.0          346.0
                   Male    ...   472.917697  0.0  0.0  2457.0          693.0
Black              Female  ...   299.099591  0.0  0.0  4356.0         1555.0
                   Male    ...   370.976546  0.0  0.0  2824.0         1569.0
Other              Female  ...   231.796929  0.0  0.0  1740.0          109.0
                   Male    ...   370.986720  0.0  0.0  2179.0          162.0
White              Female  ...   352.330817  0.0  0.0  4356.0         8642.0
                   Male    ...   434.156936  0.0  0.0  3770.0        19174.0


                                mean        std  min   50%   max
race               sex
Amer-Indian-Eskimo Female  36.579832  11.046509  4.0  40.0  84.0
                   Male    42.197917  11.596280  3.0  40.0  84.0
Asian-Pac-Islander Female  37.439306  12.479459  1.0  40.0  99.0
                   Male    41.468975  12.387563  1.0  40.0  99.0
Black              Female  36.834084   9.419960  2.0  40.0  99.0
                   Male    39.997451  10.909413  1.0  40.0  99.0
Other              Female  35.926606  10.300761  6.0  40.0  65.0
                   Male    41.851852  11.084779  5.0  40.0  98.0
White              Female  36.296691  12.190951  1.0  40.0  99.0
                   Male    42.668822  12.194633  1.0  40.0  99.0

[10 rows x 36 columns]

Max age: 82

Task 8

In [88]:
married_people = df[df['marital-status'].str.startswith('Married')]
not_married_people = df[~df['marital-status'].str.startswith('Married')]

print(f'Married people: {len(married_people)}')
print(f'Not married people: {len(not_married_people)}')
print()

# TODO REWORK
highly_paid_married = married_people[married_people['salary'] == '>50K']
highly_paid_not_married = not_married_people[not_married_people['salary'] == '>50K']

print(f'Highly paid married: {len(highly_paid_married)}')
print(f'Highly paid not married: {len(highly_paid_not_married)}')
print()

highly_paid_married_percentage = (
    len(highly_paid_married) / len(married_people)) * 100
highly_paid_not_married_percentage = (
    len(highly_paid_not_married) / len(not_married_people)) * 100

print(f'Married highly paid percentage: {highly_paid_married_percentage:.2f}')
print(
    f'Not married highly paid percentage: {highly_paid_not_married_percentage:.2f}')

Married people: 15417
Not married people: 17144

Highly paid married: 6736
Highly paid not married: 1105

Married highly paid percentage: 43.69
Not married highly paid percentage: 6.45

Task 9

In [89]:
max_hours_per_week = df['hours-per-week'].max()

print(f'Max hours per week: {max_hours_per_week}')

max_hours_workers = df[df['hours-per-week'] == max_hours_per_week]

print(f'Max hours workers: {len(max_hours_workers)}')
highly_paid_max_workers = max_hours_workers[max_hours_workers['salary'] == '>50K']

highly_paid_max_workers_percentage = (
    len(highly_paid_max_workers) / len(max_hours_workers)) * 100
print('Highly paid percentage: {:.2f}'.format(highly_paid_max_workers_percentage))
display(max_hours_workers)

Max hours per week: 99
Max hours workers: 85
Highly paid percentage: 29.41

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
935,37,Private,176900,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,99,United-States,>50K
1172,25,Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>50K
1887,55,Self-emp-not-inc,184425,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,>50K
3578,37,Self-emp-inc,382802,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,99,United-States,>50K
4086,50,?,174964,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,99,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30992,40,Self-emp-inc,104235,Masters,14,Never-married,Other-service,Own-child,White,Male,0,0,99,United-States,<=50K
31681,43,Private,266324,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1902,99,United-States,>50K
31699,43,Self-emp-not-inc,163108,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,<=50K
32469,58,Self-emp-inc,181974,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,?,<=50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K

Task 10

In [90]:
highly_paid_week_hours = highly_paid_people.groupby(
    'native-country')['hours-per-week'].mean()
normal_paid_week_hours = normal_paid_people.groupby(
    'native-country')['hours-per-week'].mean()

print('Japan->\thighly paid:\t{0:.2f}\n\tnormal paid:\t{1:.2f}'.format(
    highly_paid_week_hours['Japan'],
    normal_paid_week_hours['Japan']))
display(highly_paid_week_hours)
display(normal_paid_week_hours)

Japan->	highly paid:	47.96
	normal paid:	41.00

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64

native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64